{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		"@babel/plugin-proposal-export-namespace-from",
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-proposal-function-bind",
		"@babel/plugin-syntax-dynamic-import",
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose" : true }]
	]
}
