/**
 * @file
 * reset.scss
 */
body {
	height: 100% !important;
	overflow: hidden;
	// background: rgba(0, 0, 0, 0.6) !important;
}
#pages {
	// overflow: unset !important;
}
.g-br-sem {
	border-radius: 3px !important;
}
.g-of-a {
	overflow: auto!important;
}
