<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.wya.hybrid">

	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问WiFi状态. -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 访问网络状态, 检测网络的可用性. -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- TODO ZCQ -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

	<application
		android:name=".base.BaseApp"
		android:allowBackup="true"
		android:label="@string/app_name"
		android:supportsRtl="true"
		tools:ignore="GoogleAppIndexingWarning">
		<activity android:name=".nativeUI.CameraActivity"></activity>
		<!-- 监听网络切换 receiver -->
		<receiver android:name=".control.NetworkReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
				<action android:name="android.net.wifi.STATE_CHANGE" />
			</intent-filter>
		</receiver>
		<receiver android:name=".control.BatteryReceiver">
			<intent-filter>
				<action android:name="android.content.Intent.ACTION_BATTERY_LOW" />
				<action android:name="android.content.Intent.ACTION_BATTERY_OKAY" />
				<action android:name="android.content.Intent.ACTION_BATTERY_CHANGED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".control.ScreenReceiver">
			<intent-filter>
				<action android:name="android.content.Intent.ACTION_SCREEN_ON" />
				<action android:name="android.content.Intent.ACTION_SCREEN_OFF" />
				<action android:name="android.content.Intent.ACTION_USER_PRESENT" />
			</intent-filter>
		</receiver>

		<service
			android:name=".localserver.LocalService"
			android:exported="false" />

		<activity
			android:name=".methods.openwin.OpenWinActivity"
			android:theme="@style/Theme.AppCompat.NoActionBar" />
	</application>

</manifest>
